
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
.header{
    padding-top: 3rem;
    ul{
        list-style: none;
       li{
      padding: 10px 5px;
      a{
        font-size: 20px;

          text-decoration: none;
      }
  } 
    }      
    .gerb{
        img{
            width: 100%;
            height: 100px;
            padding:5px ;
        }
        
    }
    .text{
            font-size: 30px;
            letter-spacing: 1px;
            padding:1rem 0 0  1rem;
        color: #012F3F;
        }
        .icons{
        font-size: 20px;
        padding-top: 1rem;
        color: #224285;

        .icon{
            padding:7px -7px 0 0 ;
        }
            .down{ 
            margin-top: 0.8rem;
            }
        }
        .menu{
            a{
                font-size: 20px;
            }
        }

       
}

.border{
      background-color: #F1F1F1;
      padding: 2rem 0;
      .borderdiv{
        border-bottom: 3px solid #224285;
        position: relative;
        .apply {
            padding: 5px 2rem;
            background: #224285;
            color: white;
            position: absolute;
            right: 50%;
            top: -15px;
        }

        .letter {
            padding: 10px 2rem;
            background: #5975B0;
            color: white;
            position: absolute;
            left: 50%;
            top: -20px;

        }
      }

}

.input{
    padding:1rem;
    color: #2242A3;
    font-family: 'Roboto', sans-serif;
       .mb1{
    margin-bottom:1.2rem ; 
    }
    .mt{
        margin-bottom:1rem ; 
    }

    .pr{
        padding-right: 1rem;
    }

    .main{
        padding: 1rem;
        box-shadow: 5px 5px #D4E5EF;
        .redstar{
            color: red;
            width: 10%;
        } 
        .form{
           height: 200vh;
           font-size: 20px;
           button{
            width: 15%;
            height: 50px;
            box-shadow: 8px 7px grey;
            background-color: #224285;
            color: white;
            border: none;
            margin-top: 1rem;
           }
            .radio{
                width: 30px;
                height: 30px; 
                margin-right: 5px; 
            }
           .select{
               width: 100%;
               height: 50px;
               font-size: 16px;
               border: 1px solid #CCCCCC;
            }

    
}
           
.text{
    height: 45px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    margin-top: 5px;
    background-color: #FAFAFA;
   }  
        }
    
       
    }    
    
   
.footer{
    .box{
width: 20%;
    }
}