@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.work {
  min-height: 100vh;
  background-color: #e4e4e4;
  letter-spacing: 1px;
}
.work .left {
  color: #062024;
  padding-top: 2rem;
  font-family: "Poppins", sans-serif;
  height: 100hr;
}
.work .left .text {
  margin-bottom: 2rem;
}
.work .left .text .h3 {
  margin-top: 5rem;
}
.work .left .text h1 {
  font-size: 3.5rem;
  line-height: 100%;
  margin: 2rem 0;
}
.work .left .text p {
  font-size: 24px;
  margin-bottom: 2rem;
}
.work .left .text .button .btn1 {
  height: 3rem;
  width: 42%;
  border-radius: 0.5rem;
  border: none;
  background-color: #062024;
  color: white;
}
.work .left .text .button .btn2 {
  height: 3rem;
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid rgb(231, 227, 227);
  background-color: white;
  color: #062024;
}
.work .right {
  margin-bottom: 4rem;
  position: relative;
}
.work .right .img {
  width: 90%;
  height: 450px;
  background-image: url(../img/pic3.jpeg);
  background-size: cover;
  background-position: center;
  border: 15px solid #D2EDE7;
  padding: 1rem;
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
}
.work .right .up {
  width: 80%;
  height: 90px;
  position: absolute;
  background-color: #FEFEFE;
  top: 9%;
  right: -25%;
  border-radius: 10px;
  padding: 1rem;
  color: #20484F;
}
.work .right .up img {
  height: 65px;
  width: 65px;
  border-radius: 40px;
  border: 2px solid #B8E4DA;
  padding: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .right .up .uptext {
  padding-left: 25px;
}
.work .right .up h1 {
  margin-bottom: 0.3rem;
}
.work .right .down {
  width: 80%;
  height: 200px;
  background-color: #FEFEFE;
  position: absolute;
  bottom: -11%;
  left: -13%;
  border-radius: 10px;
  padding: 1rem;
  color: #20484F;
}
.work .right .down i {
  padding: 17px;
  font-size: 27px;
  background-color: #DBF1EC;
  border-radius: 36px;
}
.work .right .down .line {
  height: 12px;
  width: 100%;
  background-color: #E9EDED;
  border-radius: 5px;
  margin-top: 10px;
}
.work .right .down .text {
  padding: 0.2rem 0 0 0.7rem;
}
.work .right .down .text button {
  width: 40%;
  height: 35px;
  border: none;
  border-radius: 7px;
  margin-top: 1.5rem;
  background-color: #B8E4DA;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .work .left {
    margin: 0;
  }
  .work .left .button {
    width: 40% !important;
  }
  .work .right .img {
    margin: auto;
    width: 100%;
    margin-bottom: 1rem;
  }
  .work .right img {
    height: 80px !important;
    width: 80px !important;
  }
  .work .right .uptext {
    padding-left: 2rem !important;
  }
  .work .right .up, .work .right .down {
    position: static !important;
    display: inline-block !important;
  }
  .work .right .up {
    height: 120px;
    width: 95%;
  }
  .work .right .icon i {
    padding: 20px;
    font-size: 30px;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .work .left .button {
    width: 60% !important;
  }
  .work .left .button .btn1, .work .left .button .btn2 {
    height: 2.5rem !important;
  }
  .work .left h3, .work .left p {
    font-size: 10px !important;
    margin: 0.8rem 0 !important;
  }
  .work .left h1 {
    font-size: 20px !important;
    margin: 0.8rem 0 !important;
  }
  .work .left .text {
    font-size: 20px;
  }
  .work .right .img {
    width: 100% !important;
    margin: 0% !important;
  }
  .work .right .up, .work .right .down {
    position: static !important;
    width: 100% !important;
    margin-top: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */